@keyframes arrow-move {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(4px);
  }
}

@keyframes heart-scale {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.25);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes sparks-appear {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.like-icon {
  cursor: pointer;
}

.like-icon .sparks {
  opacity: 0;
}

.like-icon .heart {
  transform-origin: center;
}

.like-icon .core {
  fill: none;
  transition: fill 0.3s linear 0.03s;
}

.like-icon .main-body {
  fill: none;
  transition: fill 0.3s linear;
}

.like-icon .contour {
  fill: var(--heart-contour-color);
  transition: fill 0.1s linear;
}

.like-icon:hover .core {
  fill: var(--heart-contour-color);
  transition: fill 0.3s linear 0s;
}

.like-icon:hover .main-body {
  fill: var(--heart-contour-color);
  transition: fill 0.3s linear 0.05s;
}

.like-icon:active .core {
  fill: var(--heart-fill-color);
  transition: fill 0.3s linear;
}

.like-icon:active .main-body {
  fill: var(--heart-fill-color);
  transition: fill 0.3s linear 0.05s;
}

.like-icon.is-liked .core {
  fill: var(--heart-fill-color);
  transition: fill 0.3s linear;
}

.like-icon.is-liked .main-body {
  fill: var(--heart-fill-color);
  transition: fill 0.3s linear 0.05s;
}

.like-icon.is-liked .contour {
  fill: var(--heart-fill-color);
  transition: fill 0.3s linear 0.06s;
}

.like-icon.is-liked .heart {
  animation: heart-scale 0.3s ease-in 0.1s;
}

.like-icon.is-liked .sparks {
  animation: sparks-appear 0.3s ease-in 0.3s;
}